@media all and (min-width: 480px) {
    .org {
        padding: 60px 0;
        font: sans-serif;
        font-size: 20px;
    }

    .org form {
        margin: 0 auto;
        max-width: 230px;
    }

    .nav-links {
        color: darkgray !important;
    }

    img {
        height: 500px;
    }

}